@import "../utils/mixinsfunc";
@import "../utils/variables";

.container-filtro {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    padding: 20px 20px;
    overflow: hidden;
    }
    
    .container-remera { 
        background: url("../img/remera.jpg") no-repeat center/cover;
        width: auto;
        height: 400px;
        grid-area: 1 / 1 / 2 / 2; 
        text-align: center;}

        .container-remera:hover{
            scale: 1.2;
        }

    .container-pantalones { 
        background: url("../img/cargo.jpg") no-repeat center/cover;
        width: auto;
        height: 400px;
        grid-area: 1 / 2 / 2 / 3; }

    .container-buzos { 
        background: url("../img/hoddie.jpg") no-repeat center/cover;
        width: auto;
        height: 400;
        grid-area: 1 / 3 / 2 / 4; }

    .container-camperas { 
        background: url("../img/campera.jpg") no-repeat center/cover;
        width: auto;
        height: 400px;
        grid-area: 1 / 4 / 2 / 5; }