@import "../utils/mixinsfunc";
@import "../utils/variables";

.container-productos {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
    justify-content: center;
    gap: 20px 15px;
    margin: 2px;
}

.porducto{
    padding: 8px;


&:hover{
    border: 1px rgb(216, 214, 214) solid;
    scale: 1.1;
    border-radius: 8px;
}
}

.porducto img {
    width: 300px;
    height: 350px;
}

.contenido_productos {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.title{
    font-size: pixeles-rem(16);
    color: rgb(102, 101, 101);
}

.precio {
    font-size: pixeles-rem(26);
}

.btn_add{
    background-color: rgba(0, 255, 13, 0.822);
    padding: pixeles-rem(10);
    border-radius: 6px 6px;
    font-size: pixeles-rem(12);
}
